.btn-info {
    background-color: black;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    border: 2px solid orangered
}

.btn-info:hover {
    background-color: white;
    color: black;
    border: 2px solid orangered
}

body {
    text-align: center;
    background-image: url(images/checkered-flag-background-vector-6216537.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;


}



.input-form {
    margin: auto;
    border: 2px solid;
    align-items: center;

}

.year-label {
    margin: 15px auto;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: orangered;


}



.round-label {
    margin: 15px auto;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: orangered;

}